<div class="mdb_document" xmlns="http://www.w3.org/1999/html">

    <!-- Left column fixed width -->
    <div class="left_main_panel">
        <div class="container-fluid">
            <h1>Help page</h1>
            <p>
                <b>Note:</b> Please be aware that this is a prototype application, which is actively developed. This
                means that the application might be stopped or restarted for maintenance, features might change or data
                is reset.<br>
                <b>Use this application for testing only!</b>
            </p>
            <p>See our <a href="https://escience.biowikifarm.net/">wiki page</a> for general information on the project.
            </p>
        </div>
    </div>

    <!-- Main column -->
    <p class="right_main_panel container-fluid">
        < class="col-md12">

            <h2>General information:</h2>

            <p>Almost all interactive elements of the application provide context sensitive help text. Place your mouse
                cursor over an element for about a second to see the tool tip.
                The indicator on the upper right corner shows if Morph·D·Base is connected to the the middleware via the
                websocket. Without the connection the application is non functional.
            </p>


            <h2>Sign up:</h2>

            <p>Create a new account by clicking on “Log in or sign up” tab in the page header and fill out the form.
                After signing up your account is ready to use. Please be aware that we do not have a password reset
                function, so do not loose your password.
            </p>


            <h2>Login:</h2>

            <p>Log into Morph·D·Base using your email address and your password. After logging in you are redirected to
                the preliminary start page. You may either use the MyMDB drop down menu or one of the buttons on the
                left side to navigate to the desired function.
            </p>

            <h2>Demos:</h2>

            <p>
    <ul>
                <li><p><b>MDB Specimen entry → Create a new MDB specimen entry:</b><br>
                    create a new specimen entry as described in the ontology. The middleware checks the input according
                    to the description and stores the entry in the
                    tuple store. Changes are automatically stored.</p></li>
                <li><p><b>MDB Specimen entry → Show MDB entry:</b><br>
                    showing a sample specimen entry. The data is loaded from the tuple
                    store and the interface is provided by the composition described in the ontology.</p></li>
                <li><p><b>My MDB:</b><br>
                    show and edit your user entry</p></li>
                <li><p><b>MDB Description Entry → Create a new MDB description entry:</b><br>
                    create a new description entry as described in the ontology. The middleware checks the input
                    according to the description and stores the entry in the tuple store. Changes are automatically
                    stored.</p></li>
                <li><p><b>MDB Description entry → Show MDB entry:</b><br>
                    showing a sample description entry. The data is loaded from the tuple
                    store and the interface is provided by the composition described in the ontology.</p></li>
                <li><p><b>MDB Description tool:</b><br>
                    This part is currently under development. Feel free to explore the tool with the provided sample
                    data.</p></li>
    </ul>
            </p>
        </div>
    </div>
</div>


