<div class="mdb_document">

    <!-- Todo: move custom JS functions to  seperat JS file -->

    <!-- Top row -->
    <div class="top_panel container-fluid"></div>

    <!-- Left column fixed width -->
    <div class="left_main_panel container-fluid">
        <div class="row>">
            <div class="col-md-12">

                <h2>Imprint</h2>

                <h4>Project Leader:</h4>

                <p class="css-paragraph1">
                    <b>Dr. Peter Grobe</b><br>
                    Zoologisches Forschungsmuseum Alexander Koenig<br>
                    - Leibniz-Institut für Biodiversität der Tiere -<br>
                    Stiftung des öffentlichen Rechts<br>
                    Direktor: Prof. J. Wolfgang Wägele<br>
                    Stiftungsratsvorsitzender: Dr. Michael H. Wappelhorst<br>
                    Sitz: Bonn<br>
                    Adenauerallee 160<br>
                    53113 Bonn, Germany<br>
                    <br>
                    Tel.: ++49 (0)228 / 9122 342<br>
                    Fax.: ++49 (0)228 / 9122 212<br>
                    E-Mail: p.grobe@zfmk.de<br><br>

                    <b>Dr. rer. nat. Lars Vogt</b><br>
                    Universität Bonn<br>
                    Institut für Evolutionsbiologie und Ökologie<br>
                    An der Immenburg 1<br>
                    53121 Bonn, Germany<br>

                    E-Mail: lars.m.vogt@googlemail.com
                </p>
            </div>
        </div>

    </div>

    <!-- Main column -->
    <div id="content" class="container-fluid">
        <div class="row>">
            <div class="col-md-12">
                <h2>About Morph⋅D⋅Base<br>
                    <small>Increasing the Sustainability and Accessibility of Morphological Data through Ontology-based
                        Standardization of Morphological and Taxonomic Descriptions and Graphical Image Content
                        Annotations
                    </small>
                </h2>

                <p class="css-paragraph1">The eScience-Compliant Standards for Morphology project is part of the ongoing
                    projects of the online morphological data repository Morph·D·Base. It is presently primarily
                    maintained on funds of the LIS
                    call Standards for Indexing and/or Digitisation of Object Classes in Scientific Collections of the
                    DFG
                    through the Rheinische Friedrich-Wilhelms-Universität Bonn (programming and management), the
                    Foundation
                    Zoological Research Museum Alexander Koenig (ZFMK) (programming, management and use case), the Max
                    Planck
                    Institute of Colloids and Interfaces (use case), the Museum für Naturkunde Berlin (MfN) (use case),
                    and the Universität
                    Rostock (use case). The ZFMK is adding a guarantee for long-term online availability should
                    dedicated project
                    funds run out.
                    In addition, several projects and individuals using the online morphological data repository
                    Morph·D·Base provide a significant contribution to improving the overall functionality of all new
                    features and
                    application-modules developed for Morph·D·Base during this project, as well as suggested
                    eScience-compliant data and metadata standards applied in Morph·D·Base that result from this
                    project.
                </p>

                <p class="css-paragraph1">

                <h2>Project Participants</h2>

                <ul class="css-paragraph1">

                    <li><b>Lars Vogt, Dr.</b> (coordination) Institut für Evolutionsbiologie und Zooökologie, Rheinische
                        Friedrich-Wilhelms-Universität Bonn

                    <li><b>Peter Grobe, Dr.</b> Biodiversity Informatics, Foundation Zoological Research Museum
                        Alexander
                        Koenig;
                        Leibniz Association

                    <li><b>Jan Decher, Dr.</b> Theriology, Foundation Zoological Research Museum Alexander Koenig;
                        Leibniz
                        Association

                    <li><b>Peter Fratzl,Prof. Dr. Dr. h.c. </b> Abteilung Biomaterialien, Max-Planck-Institut für
                        Kolloid-
                        und
                        Grenzflächenforschung

                    <li><b>Michael Ohl, PD Dr.</b> Museum fuer Naturkunde, Leibniz-Institut fuer Evolutions- und
                        Biodiversitaetsforschung

                    <li><b>Stefan Richter, Prof. Dr. </b> Allgemeine & Spezielle Zoologie, Institut für
                        Biowissenschaften,
                        Universität
                        Rostock
                </ul>
                </p>

                <p class="css-paragraph1">
                    See the <a href="http://escience.biowikifarm.net/wiki/">external project wiki page</a> for
                    further
                    information.
                </p>
            </div>
        </div>

    </div>

</div>



