<mdb-page></mdb-page>

<!-- this should be a partial -->
<!--<div class="mdb-test-search-overlay" ng-class="{in: searchOverlayOpened}">
    <div class="overlay-close-btn">
        <span class="glyphicon glyphicon-remove" onclick="window.soverlay()"></span>
    </div>
    <img src="/img/soverlay.png" />
</div>-->

<!-- remove this later, only for testing -->
<!--
<script>
    window.soverlay = function() {
        let $scope = angular.element(".mdb-test-search-overlay").scope()
        $scope.searchOverlayOpened = !($scope.searchOverlayOpened || false)
        $scope.$apply()
    }
</script>-->
