<div class="mdb_document">

    <!-- Left column fixed width -->
    <div class="left_main_panel container-fluid">

        <!-------------- shown only for developers in $rootScope.developers ----------------------------------------------------------------------------------->
        <div class="row" ng-if="$root.developers.indexOf(currentUser) > -1">

            <br>

            <h2>Schrifttest für Philipp</h2>

            <div class="col-md-6" style="font-family:Arial; float:left">
                <h3>Arial, 12 Pixel</h3>

                <p style="font-size:12px; color:#000">#000: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#111">#111: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#222">#222: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#333">#333: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#444">#444: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#555">#555: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#666">#666: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#777">#777: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#888">#888: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#999">#999: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#aaa">#aaa: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#bbb">#bbb: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#ccc">#ccc: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#ddd">#ddd: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#eee">#eee: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#fff">#fff: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#f00">#f00: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#0f0;">#0f0: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px; color:#00f">#:00f Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>


            </div>
            <div class="col-md-6" style="font-size:14px">

                <h2>Schriftarten (Beispiele)</h2>

                <p style="font-family:'Arial'">Arial</p>

                <p style="font-family:'Candal'">Candal</p>

                <p style="font-family:'Roboto Mono'">Roboto Mono</p>

                <p style="font-family:'Noto Sans'">Noto Sans</p>

                <p style="font-family:'Oswald'">Oswald</p>

                <p style="font-family:'Montserrat'">Montserrat</p>

                <p style="font-family:'Roboto Slab'">Roboto Slab</p>

                <p style="font-family:'Droid Sans'">Droid Sans</p>

                <p style="font-family:'PT Serif'">PT Serif</p>

                <p style="font-family:'Francois One'">Francois One</p>

                <p style="font-family:'Kalam'">Kalam</p>

                <p>
                    Weitere Fonts unter
                    <a href="https://www.google.com/fonts">https://www.google.com/fonts</a>
                </p>
            </div>

        </div>
    </div>

    <!-- Main column -->
    <div class="right_main_panel container-fluid">

        <!-------------- shown only for developers in $rootScope.developers ----------------------------------------------------------------------------------->
        <div class="row" ng-if="$root.developers.indexOf(currentUser) > -1">

            <br>

            <div class="col-md-6" style="font-family:Arial;">
                <h3>Arial</h3>

                <p style="font-size:25px">25 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:24px">24 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:23px">23 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:22px">22 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:21px">21 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:20px">20 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:19px">19 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:18px">18 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:17px">17 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:16px">16 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:15px">15 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:14px">14 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:13px">13 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px">12 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:11px">11 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:10px">10 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:9px">9 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:8px">8 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:7px">7 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:6px">6 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:5px">5 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>
            </div>
            <div class="col-md-6" style="font-family:Helvetica">
                <h3>Helvetica</h3>

                <p style="font-size:25px">25 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:24px">24 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:23px">23 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:22px">22 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:21px">21 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:20px">20 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:19px">19 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:18px">18 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:17px">17 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:16px">16 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:15px">15 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:14px">14 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:13px">13 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px">12 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:11px">11 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:10px">10 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:9px">9 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:8px">8 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:7px">7 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:6px">6 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:5px">5 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>
            </div>

            <div class="col-md-6" style="font-family:sans-serif">
                <h3>Sans Serif</h3>

                <p style="font-size:25px">25 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:24px">24 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:23px">23 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:22px">22 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:21px">21 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:20px">20 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:19px">19 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:18px">18 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:17px">17 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:16px">16 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:15px">15 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:14px">14 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:13px">13 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px">12 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:11px">11 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:10px">10 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:9px">9 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:8px">8 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:7px">7 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:6px">6 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:5px">5 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>
            </div>
            <div class="col-md-6" style="font-family:serif">
                <h3>Serif</h3>

                <p style="font-size:25px">25 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:24px">24 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:23px">23 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:22px">22 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:21px">21 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:20px">20 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:19px">19 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:18px">18 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:17px">17 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:16px">16 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:15px">15 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:14px">14 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:13px">13 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:12px">12 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:11px">11 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:10px">10 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:9px">9 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:8px">8 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:7px">7 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:6px">6 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>

                <p style="font-size:5px">5 Pixel: Ich bin ein Text, <b>mal fett, </b><em> mal kursiv</em>.</p>
            </div>

        </div>
    </div>

</div>


