<div class="mdb_document">

    <!-- Todo: move custom JS functions to  seperat JS file -->

    <!-- Top row -->
    <div class="top_panel container-fluid"></div>

    <!-- Left column fixed width -->
    <div class="left_main_panel container-fluid">
        <div class="row>">
            <div class="col-md-12">
                <h3>Important contacts</h3>
                <h4>Administrative Contact</h4>
                Zoological Research Museum Alexander Koenig<br>
                Leibniz-Institute for Animal Biodiversity<br>
                Foundation under public law<br>
                Adenauerallee 160<br>
                53113 Bonn<br>
                email: <a href="mailtoinfo@leibniz-zfmk.de">info@leibniz-zfmk.de</a><br><br>
                </p>

                <h4>Data Protection officer</h4><br>


                Thorsten Klug<br>
                Zoologische Forschungsmuseum Alexander Koenig<br>
                Leibniz-Institut für Biodiversität der Tiere<br>
                Stiftung des öffentlichen Rechts<br>
                Adenauerallee 160<br>
                53113 Bonn<br>
                email: <a href="t.klug@leibniz-zfmk.de">t.klug@leibniz-zfmk.de</a>


            </div>
        </div>

    </div>

    <!-- Main column -->
    <div id="content" class="container-fluid">
        <div class="row>">
            <div class="col-md-12">

                <h3>Privacy Policy</h3>

                <p>The MorphDBase-Portal https://proto.morphdbase.de collects personal data from visitors. Personal data
                    are
                    all data that can be used to identify a real person either directly or indirectly by combination.
                    This
                    includes the device‘s internet addresses (IP-addresses) and all identifiers connected with a page
                    visit.
                    Responsible for the MorphDBase-Webportal and data processing according to the General Data
                    Protection
                    Regulation (GDPR) is the:<br>
                    <b>Zoological Research Museum Alexander Koenig</b><br>
                    Leibniz-Institute for Animal Biodiversity<br>
                    Foundation under public law<br>
                    Adenauerallee 160<br>
                    53113 Bonn<br>
                    email: <a href="mailto:info@leibniz-zfmk.de">info@leibniz-zfmk.de</a>
                </p>

                <p>
                    You have the right to request a copy of all personal data stored about you and to request the
                    deletion or correction of these data. The request can be send to the Biodiversity Department of the ZFMK
                    (address see below) or via email to <a href="mailto:info@leibniz-zfmk.de">info@leibniz-zfmk.de.</a>
                    Details on your rights to access, correct and delete your personal data are described in
                    paragraphs 6, 7, 8, and 9 of this document.
                </p>

                <h4>1. Collection and processing of personal data</h4>

                <p>The MorphDBase-Portal serves as a data repository for morphological data in biological research. It
                    provides researchers with online tools for managing their research data and for preparing, editing
                    and
                    cooperating on data publications. Therefore, the portal differentiates between registered users and
                    portal visitors. Registered users are experts who can collect, edit and publish research data on
                    biological specimens via the MorphDBase-Portal. Visitors are non-registered users who can access
                    only
                    the published research data without any registration. Different privacy protection policies apply to
                    the
                    groups of non-registered users and registered users (see paragraphs 2 and 3). The collection and
                    processing of the research data is handled according to the rules and policies for research data
                    management of the German Research Foundation (DFG). Privacy protection on research data is explained
                    in
                    paragraph 4.</p>
                <h4>2. Collected personal data of non-registered users</h4>

                <p>
                    The following personal data are collected from non-registered visitors of the MorphDBase-Portal:</p>

                <ul>
                    <li>IP-address</li>
                    <li>time stamp</li>
                    <li>browser-identification</li>
                    <li>requested pages within the MorphDBase-Portal</li>
                    </li>
                </ul>

                <p>These data are stored for 7 days to allow us to recognize and defend attacks on the MorphDBase-Portal
                    servers. The IP addresses become anonymized after a period of 7 days to make identification of users
                    impossible. The anonymized IP-addresses, time stamps, browser identifications and requested pages
                    are stored
                    for 6 months for statistic purposes to document project activity for our funding organization German
                    Research Foundation (DFG).
                </p>

                <p>The MorphDBase-Portal uses services of the OpenStreetMap Foundation (132 Maney Hill Road, Sutton
                    Coldfield, West Midlands, B72 1JU, United Kingdom) to display sampling sites of organisms on a map in the
                    result pages.
                    The OpenStreetMap Foundation collects and stores data with unique identifiers for statistics and
                    usage analyses. The data will be anonymized after a certain time period. For detailed information on
                    personal data collected by the OpenStreetMap services see paragraph
                    <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy" target="_new">'Log files and
                        Information submitted to OSMF Services'</a> of the OpenStreetMap privacy policy.
                    To prevent the data collection by OpenStreetMap services you can block requests to the domain
                    tile.openstreetmap.org with a browser AddOn like
                    <a href="https://www.eff.org/privacybadger" target="_new">Privacy-Badger</a>.
                    Blocking the services will make display of maps in the MorphDBase-Portal unavailable.</p>
                <h4>3. Collected personal data of registered users</h4>

                <p>Researchers interested in the repository and its tools can request a registration for the
                    MorphDBase-Portal. The MorphDBase-Team will register a requesting person as user when an adequate
                    research interest is documented. A registered user will get the contact data of a MorphDBase-Team
                    member
                    who will be available for questions on MorphDBase-Portal usage.</p>

                <p>To review the required research interest and to get in contact with users when necessary (e.g. for
                    informing them on software changes, new features) the following personal data are collected by the
                    MorphDBase-Portal:<br>
                </p><ul>
                    <li>Username</li>
                    <li>real name</li>
                    <li>email address of the user</li>
                </ul>
                <p>Affiliation in a research institute, a scientific society or references of other experts
                    Registered users can voluntarily provide the following additional personal data:</p>
                <ul>
                    <li>Phone number for direct contact with the MorphDBase-Team in case of any questions or required
                        support
                    </li>
                    <li>Registered users can provide their website, academic title, and affiliation and make them
                        publicly available for other users
                    </li>
                </ul>
                <p>These data are only collected in agreement with the respective user. Users are informed about data
                    collection and asked to accept this private policy when they request a registration at the
                    MorphDBase-Portal.</p>

                <p>In addition to data collected for non-registered users the following data are collected when users
                    are registered:
                <ul>
                    <li>
                        Cookies with the name of the user and the date and time of their login
                    </li>
                    <li>Cookies with a unique identifier</li>
                </ul>
                <p>Cookies are small data files that are created by the browser. The MorphDBase-Portal can access these
                    files to get information about the user’s current visit on the portal's pages. In the
                    MorphDBase-Portal these cookies are used for managing access of users to their resources (access to
                    research data, drafts and data publications, account management). The cookies are stored when the
                    user logs into her / his account and become deleted when the user closes the web browser.</p>

                <p>The setting of cookies can be prohibited by disallowing cookies via the browser preferences.
                    Prohibiting cookies will disable the usability of the MorphDBase-Portal as registered user.</p>

                <p>The MorphDBase-Portal is a collaborative online tool that allows and assists researchers in editing
                    and publishing research data and associated documents in a cooperative manner. In addition, users
                    can create versions of their documents and have access to the editing history of their own documents
                    and the documents shared by others. Therefore a change history is stored together with the name of
                    the author of the changes. This change history of documents and data is visible for all registered
                    users who have been invited to work on these data / documents. The change history is stored in a
                    separate store and will be transferred via encrypted connections only. It will be deleted when the
                    document or data are published by the user or when the user deletes the according documents / data
                    on the MorphDBase-Portal.</p>

                <p>The MorphDBase-Portal is a research project under active development. Therefore, data on page
                    request, user actions and the triggered program flow will be collected in single cases. This will
                    happen for bug-fixing (error correction), and redesign of work flows. Only developers of the
                    MorphDBase-Team will have access to these data. The data will be deleted immediately after analysis,
                    but not later than one day after data collection.</p>
                <h4>4. Collection of personal data in the research data</h4>

                <p>The goal of the MorphDBase-Portal is to collect research data and semantically enriched information
                    about morphology, morphometry, and occurrence of biological specimens. For quality assurance and
                    re-usability of the research data it is important to have a complete documentation of data
                    collection and applied research methods. Therefore, the data stored and processed by the
                    MorphDBase-Portal contain personal data like specimen collector names, sampling sites and their
                    coordinates, and morphological and biological methods applied by researchers. In short, the data
                    contain:</p>
                <ul>
                    <li>
                        Names of the researchers who take part in investigations and the description of specimens and
                        their characters
                    </li>
                    <li>Locality descriptions, coordinates and date of sampling locations, together with the names of
                        collectors
                    </li>
                    <li>Scientific analyses and applied methods, time and place of analyses and names of persons who
                        conducted the analyses
                    </li>
                    <li>Scientific assessments and evaluations on the provided research data</li>
                </ul>

                <p>These data are made publicly available under the condition that the collaborating experts (registered
                    users) have given their permission. The decision on the publication of the data and / or documents
                    can be done in a case-by-case manner and is controlled by the collaborating experts themselves.
                    Published data will be made citable by registration of a Digital Object Identifier
                    (<a href="https://www.doi.org" target="_new">DOI</a>) for each publication.
                    Thus, deleting or changing published data is only
                    possible, when legal or scientific reasons require a correction or revoke of the published data
                    (copyright infringement, serious scientific errors). Published data and documents can only be
                    revoked after consultation and in agreement with the MorphDBase-Team. A deletion of data copied and
                    stored by other services on the internet (e.g. archiving services, scientific portals) cannot be
                    carried out.</p>

                <p>When an expert provides personal data of a person that is not registered in the MorphDBase-Portal (e.
                    g. a person that participated in specimen collection) the expert must have the person’s permission
                    to provide these data to the MorphDBase-Portal. The expert must have informed the affected person
                    about the usage of her / his personal data in the MorphDBase-Portal as described in this privacy
                    policy. Persons whose data have been added to the research data by registered users have the same
                    rights on requesting, correcting and deleting their personal data as registered users.</p>

                <p>According to the research data management policies
                    [<a href="http://www.dfg.de/download/pdf/dfg_im_profil/reden_stellungnahmen/download/empfehlung_wiss_praxis_1310.pdf"
                        target="_new">1</a>
                    ,<a href="http://www.dfg.de/download/pdf/foerderung/programme/lis/ua_inf_empfehlungen_200901.pdf"
                        target="_new">2</a>] of the German Research Foundation (DFG) the collected research data with
                    the
                    contained personal data are stored for at least 10 years.</p>
                <h4>5. Sharing and disclosure of personal data to third parties</h4>

                <p>The collected research data will be published in order to fulfill the scientific goal of the
                    MorphDBase-project and make the results available to researchers, scientific and administrative
                    institutions and the interested public. The personal data of participating researchers can be
                    anonymized on request before publication. The anonymization can be done after consultation of the
                    MorphDBase-Team. The request can be sent to the Biodiversity Informatics Department of the
                    Zoological Research Museum Koenig (ZFMK) (see adress below).</p>
                <h4>6. Contact address to request deletion, correction, or accessing personal data and to revoke the
                    agreement of personal data handling</h4>

                <p>For all requests on deletion, correction, access and agreement on personal data collected in the
                    MorphDBase-Portal please contact:<br>
                    <b>Zoologisches Forschungsmuseum Alexander Koenig<br>
                        - Biodiversitätsinformatik -</b><br>

                    Adenauerallee 160<br>
                    53113 Bonn<br>
                    email <a href="mailto:info@morphdbase.de">info@morphdbase.de</a>
                </p>
                <h4>7. Deletion or correction of personal data</h4>

                <p>Personal data will be deleted or corrected on request when they are not part of the research data
                    uploaded by experts. Users can request the deletion or correction of their personal data by
                    contacting a MorphDBase-Team member or the Biodiversity Informatics Department of ZFMK (see address
                    above).</p>

                <p>User authentication is required when requesting the deletion or correction of personal data. Deletion
                    or correction of personal data contained in research data is only possible after negotiation and
                    agreement of the MorphDBase-Team, since the requirements and policies of the funding organization
                    (DFG) must be taken into account.</p>
                <h4>8. Access to collected personal data</h4>

                <p>Collected personal data will be made available to the concerned person in machine-readable or
                    human-readable form. Users can request information on their personal data and the data themselves by
                    contacting the Biodiversity Informatics Department of ZFMK (see address above). The request will be
                    processed within a period of 4 weeks, if the requesting person can provide a valid
                    authentication.</p>
                <h4>9. Revoke the agreement to collect personal data</h4>

                <p>Registered users can revoke their given agreement to the collection and handling of personal data by
                    the MorphDBase-Portal. The collected data will then be deleted within 4 weeks. The person who wants
                    to revoke his / her agreement will be asked for an authentication. The revoke-request can be sent to
                    the Biodiversity Informatics Department of the ZFMK (adress see above).</p>
                <h4>10. Right of appeal at the regulating authority</h4>

                <p>In accordance to article 13 of the GDPR users have the right of appeal at the regulating authority.
                    The address is:<br>
                    andesbeauftragte für Datenschutz und Informationsfreiheit Nordrhein-Westfalen<br>
                    Helga Block<br>
                    Postfach 20 04 44<br>
                    40102 Düsseldorf<br>
                    or<br>
                    Kavalleriestraße 2-4<br>
                    40213 Düsseldorf<br>
                    Email: <a href="mailto:poststelle@ldi.nrw.de">poststelle@ldi.nrw.de</a><br>
                    Public PGP-key: <a href="https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc" target="_new">https://www.ldi.nrw.de/metanavi_Kontakt/key_ldi.asc</a><br>
                </p>
                <h4>11. Contact data of the ZFMK data protection officer</h4>

                <p>The contact address of the data protection officer of the ZFMK is:<br>
                    Thorsten Klug<br>
                    Zoologische Forschungsmuseum Alexander Koenig<br>
                    Leibniz-Institut für Biodiversität der Tiere<br>
                    Stiftung des öffentlichen Rechts<br>
                    Adenauerallee 160<br>
                    53113 Bonn<br>
                    email: <a href="t.klug@leibniz-zfmk.de">t.klug@leibniz-zfmk.de</a>
                </p>
            </div>

        </div>
    </div>
</div>






